<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 1.写该文件对应的那个接口的全类名 -->
<mapper namespace="com.xzedu.article.mapper.ArticleMapper">

    <sql id="findByPageWhere">
        <where>
            <if test="id != null and id != ''">
                create_user = #{id}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and category_id = #{categoryId}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
        </where>
    </sql>

    <select id="findByPage" resultType="com.xzedu.article.pojo.Article">
        select * from article <include refid="findByPageWhere"/>
    </select>

</mapper>